<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>URL Shortener</h1>
    <% if (locals.redirectUrl) { %>
    <p>Redirect URL: <%= redirectUrl %></p>
    <% } %>

    <form method="POST" action="http://localhost:8001/url">
      <label for="url"></label>
      <input
        name="url"
        type="text"
        placeholder="enter url: https:/www.example.com"
      />
      <button type="submit">Submit</button>
    </form>

    <table style="border: 1px solid black">
      <tr>
        <th>S.no</th>
        <th>Original URL</th>
        <th>Redirect URL</th>
        <th>Created by</th>
      </tr>

      <% if (locals.urls) { %> <% urls.forEach((element,index) => { %>
      <tr style="border: 1px solid black">
        <td style="border: 1px solid black"><%= index + 1 %></td>
        <td style="border: 1px solid black"><%= element.url %></td>
        <td style="border: 1px solid black">
          <%= `https://localhost:8001/${element.shortId}` %>
        </td>
        <td style="border: 1px solid black"><%= element.createdBy %></td>
      </tr>
      <% }) %> <% } %>
    </table>
  </body>
</html>
